/* Подключение шрифтов */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Robotobold';
    src: url('../fonts/Robotobold.ttf');
    
}
@font-face {
    font-family: 'RobotoItalic';
    src: url('../fonts/Robotoitalic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Robotolight';
    src: url('../fonts/Robotolight.ttf');
}

a > btn {
    text-decoration: none;
    color: white;
}
a {
    text-decoration: none;
    color: #000;
}


h1,h2,h3,h4,h5,h6{

    font-family: Robotobold;
    text-align: center

}

p, a{

    font-family: Roboto;

}
label{
    font-family: Robotolight;
}
.form-text {
    font-family: RobotoItalic;
}
h1{
    background-color: gray;
     text-decoration: none;
}
.bg-c{
    background-color: bisque;
    /* margin: 5px; */
}
.bg-body-login{

    background-color:#E0E1E9 ;
}
.button-login{

    background-color: #10096B;
    color: white;
}
.button-login:hover{

    background-color: #39347a;
    color: white;
}

.button-oplata-good{

    background-color: #00FF2F;
    color: white;
}

.button-oplata-not{

    background-color: #FF0000;
    color: white;
}

.border-login{

    border-color: #10096B;
}

.border-oplata{

    border-color: #000000;
}
.border-manager{
    border-color: #007226;
}
.button-manager{
    background-color: #007226;
    color: white;
    border-color:#007226 ;
}
.button-manager:hover{
    background-color: #0de455;
}
/* Панель Администратор */

/* Для шапки окна*/
.bg-header-admin {
    padding: 24px;
    background-color: #10096B;
    color: white;
    font-size: 28pt;
    font-family: Robotolight;
}
.bg-header-manager {
    padding: 24px;
    background-color: #007226;
    color: white;
    font-size: 28pt;
    font-family: Robotolight;
}

.height-200{
    height: 200px;
}
/* АНАЛИТИКА */
.bg-header-catalog{
    padding: 24px;
    background-color: #FFAE00;
    color: white;
    font-size: 28pt;
    font-family: Robotolight;
}
.img img{
    width:240px;
    height: 240px;
}
.col h1{
    text-align: center;
}
.container-admin{
    background-color: gray
}

