{% extends 'base.html' %}
{% block content %}

<body>
    <div class="col bg-header-admin ">История заказов</div>
      <div class="container-admin mt-5">
          <div class="col">
            <h1>Заказ№111 | Иванов Иван Иванович| Фен Дайсон | 15 650 | Оплачено</h1>
            <h1>--------------------------------------------------------------------------------------------------------------</h1>
            <h1>Заказ№123 | Белоусов Роман Анатольевич | Айфон | 12 500 | Выполнено</h1>
            <h1>---------------------------------------------------------------------------------------------------------------</h1>
            <h1>Заказ№124 | Иванчук Кирил Витальевич | Соковыжималка | 10 000 | Отменено</h1>
            <h1>--------------------------------------------------------------------------------------------------------------</h1>
            <h1>Заказ№125 | Зверев Денис Дмитриевич | Фен Дайсон | 15 650 | Оплачено</h1>
            <h1>--------------------------------------------------------------------------------------------------------------</h1>
            <h1>Заказ№126 | Зверев Денис Дмитриевич | Айфон | 12 500 | Выполнено</h1>
            <h1>---------------------------------------------------------------------------------------------------------------</h1>
            <h1>Заказ№127 | Шнайдер Денис Сергеевич | Соковыжималка | 10 000 | Отменено</h1>
            <h1>---------------------------------------------------------------------------------------------------------------</h1>
            <h1>Заказ№128 | Иванчук Кирил Витальевич | Айфон | 12 500 | Отменено</h1>
          </div>
      </div>
    </div>



</body>

{% endblock %}