{% extends 'base.html' %}
{% block content %}

<body>
    <div class="col bg-header-admin ">Панель управления клиентами</div>
    <div class="container mt-5">
        <div class="row text-center">
            <h2>Список пользователей</h2>
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Логин</th>
                    <th scope="col">Пароль</th>
                    <th scope="col">Изменить</th>
                    <th scope="col">Удалить</th>
                </tr>
            </thead>
            <tbody>
            {% for users in user %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{user.login}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.role_id}}</td>
                    <td>
                        <a href="/user/{{user.id}}"><div class="btn btn-success">Изменить</div></a>
                    </td>
                    <td>
                        <a href="user/delete/{{user.id}}" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <div class="row">

            <form action="" method="post" class="row d-flex justify-content-center g-3">
                <div class="col-auto">
                    <div id="loginHelp" class="form-text">Введите Логин нового пользователя</div>
                    <input type="text" name="username" class="form-control border-login" id="exampleInputLogin"
                        aria-describedby="loginHelp" required>

                </div>
                <div class="col-auto">
                    <div id="passwordHelp" class="form-text">Введите пароль нового пользователя</div>
                    <input type="text" name="role" class="form-control border-login" id="exampleInputPassword1"
                        aria-describedby="passwordHelp" required>

                </div>
                <div class="col-auto">

                    <button type="submit" class="btn btn-primary button-login" style="margin-top: 12%;">Добавить
                        пользователей</button>
                </div>
            </form>

        </div>


    </div>



</body>

{% endblock %}