{% extends 'base.html' %}
{% block content %}

<body>
    <div class="col bg-header-admin ">Складской учёт</div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center align-items-center" style="gap: 245px">
                <div class="col">
                    <div class="img">
                        <img src="/static/img/fen.svg">
                        <h1>Фен Дайсон</h1>
                        <h3>Осталось: 5шт</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="img">
                        <img src="/static/img/iphone.svg">
                        <h1>Айфон</h1>
                        <h3>Осталось: 1шт</h3>
                    </div>
                </div>
                <div class="col">
                    <div class="img">
                        <img src="/static/img/sokovijimalka.svg">
                        <h1>Соковыжималка</h1>
                        <h3>Осталось: 0шт</h3>
                    </div>
                </div>
        </div>


    </div>


    </div>



</body>

{% endblock %}