{% extends 'base.html' %}
{% block content %}
<body>
    <div class="col bg-header-analitics ">Окно работы с клиентом</div>
    <div class="container mt-5">
        <div class="row text-center">
            <h2>Данные клиента</h2>
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Логин</th>
                    <th scope="col">Роль</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>user1</td>
                    <td>1</td>
                </tr>

            </tbody>
        </table>

        <div class="row">

            <form class="row d-flex justify-content-center g-3">
                <div class="row m-3">
                    <div class="col-3">
                        <div id="dateHelp" class="form-text">Дата работы с клиентом</div>
                        <input type="date" class="form-control border-manager" id="exampleInputdate"
                            aria-describedby="dateHelp" required>

                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-3">
                        <div id="workHelp" class="form-text">Способ общения с клиентом</div>
                        <input type="text" class="form-control border-manager" id="exampleInputwork"
                            aria-describedby="workHelp" required>

                    </div>
                </div>
                <div class="row m-3 " >
                    <div class="col-10">
                        <div id="resultHelp" class="form-text">Результат работы с клиентом</div>
                        <input type="text" class="form-control border-manager height-200" id="exampleInputResult"
                            aria-describedby="resultHelp" required>

                    </div>
                </div>
                <div class="row m-3 d-flex justify-content-between">
                    <div class="col-3 d-flex align-items-end">
                        <a href="./manager.html" type="submit" class="btn button-manager" style="width: 100%;">Добавить</a>
                    </div>

                    <div class="col-3 d-flex align-items-end">
                        <a href="./manager.html" type="submit" class="btn button-login" style="width: 100%;">Вернуться к списку клиентов</a>
                    </div>


                </div>





            </form>

        </div>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

{% endblock %}